@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
* {box-sizing: border-box;}
header, footer, #winner {
    font-family: 'Montserrat';
    font-size: 3em;
  line-height: 3em;
    vertical-align: middle;
  width:600px;
  text-align: center;
  margin: 0 auto;
}
#winner {
  font-family:"Rammetto One",sans-serif;
  font-size:40px;
  color:tomato;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.wrapper > div {
  border-radius: 50%;
  padding: 1em;
  background-color: tomato;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(120px, auto);
}
